{% extends "base.html" %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Gigi and Johnson Wedding photobooth</h1>
      <p>Select and upload your photos here and they will appear on the computer connected to the printer.</p>
      <h2>Select files to upload</h2>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input class="form-control-file" type="file" name="file" autocomplete="off" required multiple>
		</p>
    </dl>
    <p>
		<input class="btn btn-primary btn-lg" type="submit" value="Submit">
	</p>
</form>
    </div>
  </div>

  </div> <!-- /container -->

</main>
{% endblock %}
